@{
    ViewBag.Title = "Advanced Search";
}

<div class="SearchContainer">
    <h3>@ViewBag.Title</h3>
    <br />
    <span>Enter your search criteria: </span>
    <br />
    <br />
</div>
<div>
    <div id="SearchFilterContainer">
        <div class="row">
            <br />

            <div class="col-sm-6 col-sm-offset-2">
                <div class="input-group search-row">

                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span>Filter By: </span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="list-group-item">
                                <a href="#">Match</a>
                            </li>
                        </ul>
                    </div>

                    <div class="input-group-btn search-panel">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_field">Field: </span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" name="fieldSelectionMenu" role="menu">
                            <li class="li_search_field"><a href="#">content-id</a></li>
                            <li class="li_search_field"><a href="#">title</a></li>
                            <li class="li_search_field"><a href="#">author</a></li>
                            <li class="li_search_field"><a href="#">genre</a></li>
                        </ul>
                    </div>

                    <input type="text" id="searchQuery" class="form-control" name="q" placeholder="Search term ..." />
                    <span class="input-group-btn">
                        <button id="addCriteria" class="btn btn-danger" type="button">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>

                    <input type="hidden" name="searched_field" value="" id="searched_field" />
                    <input type="hidden" name="searched_param" value="" id="searched_param" />
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <br />

        <div class="col-sm-2 col-sm-offset-5">
            <span class="input-group-btn">
                <button id="btnAdvancedSearch" class="btn btn-lg btn-danger" type="submit">Search</button>
            </span>
        </div>
    </div>

    <hr />
    <div class="row">
        <br />
        <div id="SearchResultDiv" class="col-sm-10 col-sm-offset-1">

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function (w, d) {

            $("#SearchFilterContainer").delegate("li.li_search_field a", "click", function () {
                var _selectedField = this.text;
                $(this).closest("ul.dropdown-menu").parent().children().children("span[id*='search_field']")[0].innerHTML = _selectedField;
                console.log(_selectedField);
            });

            $("#SearchFilterContainer").delegate("div.search-row button[id*='addCriteria']", "click", function () {

                if (this.id != "addCriteria") {
                    var _selectedField = $(this).closest("div.row").remove();
                }
                else {
                    var counter = $("[id*='addCriteria']").length + 1;

                    var htmlBlock = "<div class='row'><br /><div class='col-sm-6 col-sm-offset-2'><div class='input-group search-row'><div class='input-group-btn search-panel'><button type='button' class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span>Filter By: </span> <span class='caret'></span></button><ul class='dropdown-menu' role='menu'><li class='list-group-item'><a href='#'>Match</a></li></ul></div><div class='input-group-btn search-panel'><button class='btn btn-default dropdown-toggle' data-toggle='dropdown'><span id='search_field" + counter + "'>Field: </span> <span class='caret'></span></button><ul class='dropdown-menu' name='fieldSelectionMenu' role='menu'><li class='li_search_field'><a href='#'>content-id</a></li><li class='li_search_field'><a href='#'>title</a></li><li class='li_search_field'><a href='#'>author</a></li><li class='li_search_field'><a href='#'>genre</a></li></ul></div><input type='text' id='searchQuery" + counter + "' class='form-control' name='q' placeholder='Search term ...' /><span class='input-group-btn'><button id='addCriteria" + counter + "' class='btn btn-danger' type='button'><span class='glyphicon glyphicon-minus'></span></button></span><input type='hidden' name='searched_field' value='' id='searched_field" + counter + "' /><input type='hidden' name='searched_param' value='' id='searched_param" + counter + "' /></div></div></div>";

                    $("#SearchFilterContainer").append(htmlBlock);
                }
            });

            $("#btnAdvancedSearch").click(function () {

                var filters = [];
                var _queryFields = $("[id*='search_field']");
                var _queryInputs = $("[id*='searchQuery']");

                for (var i = 0; i < _queryInputs.length; i++) {
                    var queryFilterObj = new Object();
                    queryFilterObj['SearchField'] = _queryFields[i].innerHTML;
                    queryFilterObj['SearchQuery'] = _queryInputs[i].value;
                    queryFilterObj['MatchCriteria'] = true;

                    filters.push(queryFilterObj);
                }

                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "AdvancedSearchResult",
                    data: JSON.stringify(filters),
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    success: function (data) {
                        if (data != null)
                            $("#SearchResultDiv").html(data);
                    },
                    error: function (data) {
                        if (data != null && data.responseText != null)
                            $("#SearchResultDiv").html(data.responseText);
                    }
                });
            });

        })(window, document);
    </script>
}